/* line 6, ../../app/assets/stylesheets/application.css.sass */
#container {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
}

/* line 9, ../../app/assets/stylesheets/application.css.sass */
#header {
  margin-bottom: 20px;
}
/* line 11, ../../app/assets/stylesheets/application.css.sass */
#header .logo {
  font-family: "Jockey One", sans-serif;
  font-size: 60px;
}
/* line 14, ../../app/assets/stylesheets/application.css.sass */
#header .logo_description {
  font-family: "Nova Mono", cursive;
  font-size: 18px;
}

/* line 18, ../../app/assets/stylesheets/application.css.sass */
.login_form {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 590px;
}
/* line 147, ../../../../.rvm/gems/ruby-1.9.3-p0@freacs/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .login_form {
  overflow-x: hidden;
}

/* line 21, ../../app/assets/stylesheets/application.css.sass */
#flash_message {
  font-weight: bold;
}

/* line 25, ../../app/assets/stylesheets/application.css.sass */
#navigation ul {
  padding: 0;
  list-style: none;
  background: #e3e3e3;
  width: 350px;
  height: 24px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
/* line 33, ../../app/assets/stylesheets/application.css.sass */
#navigation ul li {
  font-weight: bold;
  display: inline-block;
  margin: 5px 5px;
}
/* line 37, ../../app/assets/stylesheets/application.css.sass */
#navigation ul li a {
  text-decoration: none;
}

/* line 39, ../../app/assets/stylesheets/application.css.sass */
ol li {
  margin-right: 8px;
  float: left;
}
