/* line 7, ../../app/assets/stylesheets/application.css.sass */
body.bp {
  background-color: #eeeeee;
}

/* line 10, ../../app/assets/stylesheets/application.css.sass */
#container {
  margin: 5px 0;
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
  background: white;
}

/* line 15, ../../app/assets/stylesheets/application.css.sass */
#header {
  padding-bottom: 20px;
  background: #e6fcff;
}
/* line 18, ../../app/assets/stylesheets/application.css.sass */
#header .logo {
  font-family: "Jockey One", sans-serif;
  font-size: 60px;
}
/* line 21, ../../app/assets/stylesheets/application.css.sass */
#header .logo_description {
  font-family: "Nova Mono", cursive;
  font-size: 18px;
}

/* line 25, ../../app/assets/stylesheets/application.css.sass */
.login_form {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 590px;
}
/* line 147, ../../../../.rvm/gems/ruby-1.9.3-p0@freacs/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .login_form {
  overflow-x: hidden;
}

/* line 28, ../../app/assets/stylesheets/application.css.sass */
#flash_message {
  font-weight: bold;
}

/* line 32, ../../app/assets/stylesheets/application.css.sass */
#navigation ul {
  padding: 0;
  list-style: none;
  background: #00e0ff;
  width: 950px;
  height: 50px;
  font-size: 2em;
}
/* line 39, ../../app/assets/stylesheets/application.css.sass */
#navigation ul li {
  display: inline-block;
  margin: 5px 5px;
}
/* line 42, ../../app/assets/stylesheets/application.css.sass */
#navigation ul li a {
  text-decoration: none;
}
/* line 44, ../../app/assets/stylesheets/application.css.sass */
#navigation ul li a:hover {
  color: white;
}
/* line 46, ../../app/assets/stylesheets/application.css.sass */
#navigation ul li a.selected {
  font-weight: bold;
}

/* line 48, ../../app/assets/stylesheets/application.css.sass */
#content {
  margin: 0 10px;
}
/* line 50, ../../app/assets/stylesheets/application.css.sass */
#content table {
  margin: 15px 0;
}
/* line 18, ../../../../.rvm/gems/ruby-1.9.3-p0@freacs/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_form.scss */
#content form label {
  font-weight: bold;
}
/* line 19, ../../../../.rvm/gems/ruby-1.9.3-p0@freacs/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_form.scss */
#content form fieldset {
  padding: 1.4em;
  margin: 0 0 1.5em 0;
}
/* line 20, ../../../../.rvm/gems/ruby-1.9.3-p0@freacs/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_form.scss */
#content form legend {
  font-weight: bold;
  font-size: 1.2em;
}
/* line 26, ../../../../.rvm/gems/ruby-1.9.3-p0@freacs/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_form.scss */
#content form input.text, #content form input.title, #content form input[type=email], #content form input[type=text], #content form input[type=password] {
  margin: 0.5em 0;
  background-color: white;
  padding: 5px;
}
/* line 27, ../../../../.rvm/gems/ruby-1.9.3-p0@freacs/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_form.scss */
#content form input.title {
  font-size: 1.5em;
}
/* line 29, ../../../../.rvm/gems/ruby-1.9.3-p0@freacs/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_form.scss */
#content form textarea {
  margin: 0.5em 0;
  padding: 5px;
}
/* line 30, ../../../../.rvm/gems/ruby-1.9.3-p0@freacs/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_form.scss */
#content form select {
  margin: 0.5em 0;
}
/* line 55, ../../../../.rvm/gems/ruby-1.9.3-p0@freacs/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_form.scss */
#content form fieldset {
  border: 1px solid #cccccc;
}
/* line 58, ../../../../.rvm/gems/ruby-1.9.3-p0@freacs/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_form.scss */
#content form input.text, #content form input.title, #content form input[type=email], #content form input[type=text], #content form input[type=password],
#content form textarea {
  background-color: #fff;
  border: 1px solid #bbbbbb;
}
/* line 61, ../../../../.rvm/gems/ruby-1.9.3-p0@freacs/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_form.scss */
#content form input.text:focus, #content form input.title:focus, #content form input[type=email]:focus, #content form input[type=text]:focus, #content form input[type=password]:focus,
#content form textarea:focus {
  border-color: #666666;
}
/* line 65, ../../../../.rvm/gems/ruby-1.9.3-p0@freacs/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_form.scss */
#content form select {
  background-color: #fff;
  border-width: 1px;
  border-style: solid;
}
/* line 44, ../../../../.rvm/gems/ruby-1.9.3-p0@freacs/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_form.scss */
#content form input.text, #content form input.title, #content form input[type=email], #content form input[type=text], #content form input[type=password] {
  width: 300px;
}
/* line 46, ../../../../.rvm/gems/ruby-1.9.3-p0@freacs/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_form.scss */
#content form textarea {
  width: 390px;
  height: 250px;
}
/* line 55, ../../../../.rvm/gems/ruby-1.9.3-p0@freacs/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_form.scss */
#content form fieldset {
  border: 1px solid #cccccc;
}
/* line 58, ../../../../.rvm/gems/ruby-1.9.3-p0@freacs/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_form.scss */
#content form input.text, #content form input.title, #content form input[type=email], #content form input[type=text], #content form input[type=password], #content form textarea {
  background-color: #fff;
  border: 1px solid #bbbbbb;
}
/* line 61, ../../../../.rvm/gems/ruby-1.9.3-p0@freacs/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_form.scss */
#content form input.text:focus, #content form input.title:focus, #content form input[type=email]:focus, #content form input[type=text]:focus, #content form input[type=password]:focus, #content form textarea:focus {
  border-color: #666666;
}
/* line 65, ../../../../.rvm/gems/ruby-1.9.3-p0@freacs/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_form.scss */
#content form select {
  background-color: #fff;
  border-width: 1px;
  border-style: solid;
}

/* line 56, ../../app/assets/stylesheets/application.css.sass */
#infobar {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px;
  background: #407880;
  color: white;
}
/* line 147, ../../../../.rvm/gems/ruby-1.9.3-p0@freacs/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #infobar {
  overflow-x: hidden;
}
/* line 61, ../../app/assets/stylesheets/application.css.sass */
#infobar > a {
  display: inline;
  float: left;
  margin-right: 0;
  width: 190px;
  text-decoration: none;
  color: inherit;
  font-weight: bold;
  text-align: right;
}
/* line 147, ../../../../.rvm/gems/ruby-1.9.3-p0@freacs/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #infobar > a {
  overflow-x: hidden;
}
/* line 67, ../../app/assets/stylesheets/application.css.sass */
#infobar span {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 190px;
}
/* line 147, ../../../../.rvm/gems/ruby-1.9.3-p0@freacs/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #infobar span {
  overflow-x: hidden;
}
/* line 69, ../../app/assets/stylesheets/application.css.sass */
#infobar span + a {
  padding-left: 560px;
}
/* line 71, ../../app/assets/stylesheets/application.css.sass */
#infobar a {
  padding-left: 760px;
}
