/* line 6, ../../app/assets/stylesheets/application.css.sass */
body.bp {
  background-color: #eeeeee;
}

/* line 9, ../../app/assets/stylesheets/application.css.sass */
#container {
  margin: 5px 0;
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
  background: white;
}

/* line 14, ../../app/assets/stylesheets/application.css.sass */
#header {
  padding-bottom: 20px;
  background: #e6fcff;
}
/* line 17, ../../app/assets/stylesheets/application.css.sass */
#header .logo {
  font-family: "Jockey One", sans-serif;
  font-size: 60px;
}
/* line 20, ../../app/assets/stylesheets/application.css.sass */
#header .logo_description {
  font-family: "Nova Mono", cursive;
  font-size: 18px;
}

/* line 24, ../../app/assets/stylesheets/application.css.sass */
.login_form {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 590px;
}
/* line 147, ../../../../.rvm/gems/ruby-1.9.3-p0@freacs/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html .login_form {
  overflow-x: hidden;
}

/* line 27, ../../app/assets/stylesheets/application.css.sass */
#flash_message {
  font-weight: bold;
}

/* line 31, ../../app/assets/stylesheets/application.css.sass */
#navigation ul {
  padding: 0;
  list-style: none;
  background: #00e0ff;
  width: 950px;
  height: 50px;
  font-size: 2em;
}
/* line 38, ../../app/assets/stylesheets/application.css.sass */
#navigation ul li {
  display: inline-block;
  margin: 5px 5px;
}
/* line 41, ../../app/assets/stylesheets/application.css.sass */
#navigation ul li a {
  text-decoration: none;
}

/* line 44, ../../app/assets/stylesheets/application.css.sass */
#content ol {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 470px;
}
/* line 147, ../../../../.rvm/gems/ruby-1.9.3-p0@freacs/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #content ol {
  overflow-x: hidden;
}
/* line 46, ../../app/assets/stylesheets/application.css.sass */
#content ol li {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 310px;
}
/* line 147, ../../../../.rvm/gems/ruby-1.9.3-p0@freacs/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #content ol li {
  overflow-x: hidden;
}
/* line 49, ../../app/assets/stylesheets/application.css.sass */
#content ol li a.email {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 190px;
  font-weight: bold;
  text-decoration: none;
}
/* line 147, ../../../../.rvm/gems/ruby-1.9.3-p0@freacs/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #content ol li a.email {
  overflow-x: hidden;
}
/* line 53, ../../app/assets/stylesheets/application.css.sass */
#content ol li a {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 110px;
}
/* line 147, ../../../../.rvm/gems/ruby-1.9.3-p0@freacs/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #content ol li a {
  overflow-x: hidden;
}

/* line 55, ../../app/assets/stylesheets/application.css.sass */
#infobar {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px;
  background: #407880;
  color: white;
}
/* line 147, ../../../../.rvm/gems/ruby-1.9.3-p0@freacs/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #infobar {
  overflow-x: hidden;
}
/* line 60, ../../app/assets/stylesheets/application.css.sass */
#infobar > a {
  display: inline;
  float: left;
  margin-right: 0;
  width: 190px;
  text-decoration: none;
  color: inherit;
  font-weight: bold;
  text-align: right;
}
/* line 147, ../../../../.rvm/gems/ruby-1.9.3-p0@freacs/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #infobar > a {
  overflow-x: hidden;
}
/* line 66, ../../app/assets/stylesheets/application.css.sass */
#infobar span {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 190px;
}
/* line 147, ../../../../.rvm/gems/ruby-1.9.3-p0@freacs/gems/compass-0.12.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html #infobar span {
  overflow-x: hidden;
}
/* line 68, ../../app/assets/stylesheets/application.css.sass */
#infobar span + a {
  padding-left: 560px;
}
/* line 70, ../../app/assets/stylesheets/application.css.sass */
#infobar a {
  padding-left: 760px;
}
