%h2=t("auctions.auctions")
- if can? :create, Auction
  = link_to t('auctions.new_auction'), new_auction_path


%table
  %thead
    %tr
      %th=t("auctions.name")
      %th=t("actions")

  -if @auctions
    %tbody
      - @auctions.each do |auction|
        %tr
        %td= link_to auction.name, auction
        %td
          = link_to t('edit'), edit_auction_path(auction)
          = link_to t('delete'), auction, :confirm => 'Are you sure?', :method => :delete
