%h2=t("users.users")

=link_to t(".new_user"), new_user_registration_path

-if @users
  %table
    %thead
      %tr
        %th=t('.email')
        %th=t('.actions')
    %tbody
      - @users.each do |user|
        %tr
          %td= link_to user.email, admin_admin_path(user), :class => "email"
          %td= link_to t('edit'), edit_admin_registration_path(user), :class => "edit"