%h1=t('.administrators')
=link_to t(".new_admin"), new_admin_registration_path

#list
  -if @admins
    %ol
      - @admins.each do |admin|
        %li
          = link_to admin.email, admin_admin_path(admin), :class => "email"
          = link_to t('edit'), edit_admin_registration_path(admin)