// Include some nice mixins
//@import "compass/css3"
@import "sassybuttons"
@import "blueprint"

body.bp
  background-color: $blueprint-background-color

#container
  margin: 5px 0
  +container
  background: #ffffff

#header
  padding-bottom: 20px
  background: #e6fcff
  .logo
    font-family: 'Jockey One', sans-serif
    font-size: 60px
  .logo_description
    font-family: 'Nova Mono', cursive
    font-size: 18px

.login_form
  +column(15)

#flash_message
  font-weight: bold

#navigation
  ul
    padding: 0
    list-style: none
    background: #00e0ff
    width: 350px
    height: 24px
    -moz-border-radius: 10px
    -webkit-border-radius: 10px
    li
      font-weight: bold
      display: inline-block
      margin: 5px 5px
      a
        text-decoration: none
ol li
  margin-right: 8px
  float: left

#infobar
  +column(24)
  background: #407880
  color: #ffffff

  > a
    +column(5,last)
    text-decoration: none
    color: inherit
    font-weight: bold
    text-align: right
  span
    +column(5)
    + a
      +prepend(14)
  a
    +prepend(19)

