// Include some nice mixins
//@import "compass/css3"
@import "sassybuttons"
@import "blueprint"

#container
  +container

#header
  .logo
    font-family: 'Jockey One', sans-serif
    font-size: 60px
    margin-bottom: 0
  .logo_description
    font-family: 'Nova Mono', cursive
    font-size: 18px

.kokot
  +prepend(23)
  +column(1,true)

.pica
  +pull(2)

.login_form
  +column(15)
