// Include some nice mixins
//@import "compass/css3"
@import "sassybuttons"
@import "blueprint"
@import "blueprint/form"

body.bp
  background-color: $blueprint-background-color

#container
  margin: 5px 0
  +container
  background: #ffffff

#header
  background: #e6fcff
  height: 150px
  .logo
    +column(5)
    font-family: 'Jockey One', sans-serif
    font-size: 60px
  .clock
    +prepend(15)
    +column(4,last)
    height: 90px
    font-size: 3em
  .logo_description
    +column(24,last)
    font-family: 'Nova Mono', cursive
    font-size: 18px


.login_form
  +column(15)

#flash_message
  font-weight: bold

#navigation
  ul
    padding: 0
    list-style: none
    background: #00e0ff
    width: 950px
    height: 50px
    font-size: 2.0em
    margin: 0
    li
      display: inline-block
      margin: 5px 5px
      a
        text-decoration: none
      a:hover
        color: white
      a.selected
        font-weight: bold
  hr
    +colruler(#000fff)

#content
  margin: 0 10px
  table
    margin: 15px 0
  form
    +blueprint-form
    +blueprint-form-borders

#infobar
  +column(24)
  background: #407880
  color: #ffffff

  > a
    +column(5,last)
    text-decoration: none
    color: inherit
    font-weight: bold
    text-align: right
  span
    +column(5)
    + a
      +prepend(14)
  a
    +prepend(19)

