%h2=t(".users")
=link_to t(".new_user"), admins_user_register_path

-if @users
  %table
    %thead
      %tr
        %th=t('.email')
        %th=t('.actions')
    %tbody
      - @users.each do |admin|
        %tr
          %td= link_to admin.email, admin_admin_path(admin), :class => "email"
          %td= link_to t('edit'), edit_admin_registration_path(admin), :class => "edit"